In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('example.db')

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute('''CREATE TABLE IF NOT EXISTS users
               (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

In [ ]:
cur.execute("INSERT INTO users (name, age) VALUES ('Alice', 25)")

In [ ]:
conn.commit()

In [ ]:
cur.execute("SELECT * FROM users")
print(cur.fetchall())

In [ ]:
conn.close()